<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <title>KPI</title>
</head>
<body>
  <div class="container">
    <div class="wrapper">
      <div class="date">
        До закрытия внесения целей осталось {{day_int}} {{day_string}}!
      </div>
      <div class="kpi">
        <div class="kpi__annotation">
          <p class="kpi__MBO">MBO</p>
          <p class="kpi__DI">ДИ</p>
        </div>
        <div class="kpi__data">
          <p class="kpi__status">
            Внесено/Закрыто
          </p>
          <p class="kpi__MBO_num">
            {{MBO_approved}}/{{MBO_done}}
          </p>
          <p class="kpi__DI_num">
            {{DI_approved}}/{{DI_done}}
          </p>
        </div>
      </div>
      <div class="fines">
        <div class="fines__annotation">
          <p class="fines__fineses">Штрафы</p>
          <p class="fines__MBO">MBO</p>
          <p class="fines_DI">ДИ</p>
        </div>
        <div class="fines__data">
          <p class="fines__MBO_num">
            {{MBO_fines}}%
          </p>
          <p class="fines__DI_num">
            {{DI_fines}}%
          </p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>