<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  <title>KPI</title>
</head>
<body>
  <div class="kpi_card__container">
    <div class="kpi_card__wrapper">
      <div class="date">
        До закрытия внесения целей осталось {{ day_int }} {{ day_string }}!
      </div>
      <div class="kpi">
        <div class="kpi__annotation">
          <p class="kpi__MBO">MBO</p>
          <p class="kpi__DI">ДИ</p>
        </div>
        <div class="kpi__data">
          <p class="kpi__status">
            Внесено/Закрыто
          </p>
          <p class="kpi__MBO_num">
            {{ MBO_approved }}/{{ MBO_done }}
          </p>
          <p class="kpi__DI_num">
            {{ DI_approved }}/{{ DI_done }}
          </p>
        </div>
      </div>
      <div class="fines">
        <div class="fines__annotation">
          <p class="fines__fines">Штрафы</p>
          <p class="fines__MBO">MBO</p>
          <p class="fines_DI">ДИ</p>
        </div>
        <div class="fines__data">
          <p class="fines__MBO_num">
            {{ MBO_fines }}%
          </p>
          <p class="fines__DI_num">
            {{ DI_fines }}%
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="DO__container">
    <div class="DO__wrapper">
      <p class="DO__annotation">Задач в ДО:</p>
      {{#each organizations }}
        <div class="DO__organization">
          <button popovertarget="DO__organization_popover{{ this.id }}" class="popover_btn">{{ this.name }}: {{ this.count_tasks }}</button>
          <div id="DO__organization_popover{{ this.id }}" class="DO__organization_popover" popover>
            <p class="DO__organization_name">Организация {{ this.name }}</p>
            <table class="DO__table" border="2">
              <thead>
                <tr>
                  <th class="DO__th">Статус документа</th>
                  <th class="DO__th">Вид документа</th>
                  <th class="DO__th">Наименование задачи</th>
                  <th class="DO__th">Автор задачи</th>
                  <th class="DO__th">Срок исполнения</th>
                  <th class="DO__th">Ссылка на веб</th>
                </tr>
              </thead>
              <tbody>
                {{#each this.tasks }}
                  <tr>
                    <td class="DO__td">{{ this.TaskType }}</td>
                    <td class="DO__td">{{ this.DocumentType }}</td>
                    <td class="DO__td">{{ this.TaskName }}</td>
                    <td class="DO__td">{{ this.Author }}</td>
                    <td class="DO__td">{{ this.Deadline }}</td>
                    <td class="DO__td">{{ this.TaskLink }}</td>
                  </tr>
                {{/each }}
              </tbody>
            </table>
          </div>
        </div>
      {{/each }}
    </div>
  </div>
</body>
</html>